<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

<sql id="sqlWhere">
<if test="search_type != '' and search_type != null">
	where 
	<if test="search_type == 'all'.toString()">
		title like concat('%', #{search_keyword}, '%')
		or 
		content like concat('%', ${search_keyword},'%')	
	</if>
	<if test="search_type == 'title'.toString()">
		title like concat('%', #{search_keyword}, '%')
	</if>
	<if test="search_type === 'content'.toString()">
		content like concat('%', ${search_keyword},'%')
	</if>
</if>
</sql>

<select id="countBoard">
select count(*) from tbl_board
<include refid="sqlWhere"></include>
</select>

<select id="selectBoard">
select * from tbl_board
<include refid="sqlWhere"></include>
order by reg_date desc
limit #{queryStartNo}, #{queryPerPageNum}
</select>



</mapper>
