<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyMapper">

<select id="selectReplyCount" resultType="int">
select count(*) from tbl_reply where bno = #{bno}
</select>

<select id="selectReply" resultType="org.edu.vo.ReplyVO">
SELECT TABLE_B.* FROM (
    SELECT ROWNUM AS RNUM, TABLE_A. * FROM (
    SELECT * FROM TBL_REPLY
    WHERE bno=#{bno}
    order by rno desc
    ) TABLE_A 
    <![CDATA[
    WHERE ROWNUM <= (#{pageVO.queryStartNo}/ #{pageVO.queryPerPageNum}+1)* #{pageVO.queryPerPageNum}
) TABLE_B
WHERE TABLE_B.RNUM > (#{pageVO.queryStartNo}/ #{pageVO.queryPerPageNum})* #{pageVO.queryPerPageNum}
]]>
</select>

<update id="updateCountReply">
update tbl_board set reply_count=(select count(*) from tbl_reply where bno=#{bno}) 
where bno=#{bno}
</update>

<insert id="insertReply">
	<selectKey keyProperty="rno" resultType="int" order="BEFORE">
	SELECT SEQ_RNO.nextval FROM DUAL
	</selectKey>
INSERT INTO tbl_reply(rno, bno, reply_text, replyer, reg_date)
VALUES (#{rno}, #{bno}, #{reply_text}, #{replyer}, sysdate)
</insert>

<update id="updateReply">
UPDATE tbl_reply SET
reply_text=#{reply_text},
update_date=sysdate
WHERE rno=#{rno}
</update>

<delete id="deleteReply">
DELETE FROM tbl_reply WHERE rno=#{rno}
</delete>

<delete id="deleteReplyAll">
DELETE FROM tbl_reply WHERE bno=#{bno}
</delete>

</mapper>