@charset "UTF-8";
/* pc용 스타일 시작 */

/*@미디어쿼리사용-메타태그 viewport값 필수*/
/*미디어쿼리:미디어의 가로크기가 1132px이상이면 아래 스타일 적용*/
@media all and (min-width:1132px) {

/*슬라이드영역 시작*/
.carousel-item, .carousel-item img{height:700px;}
/*슬라이드영역 끝----------------------------------------------------------------------*/

/* weare 영역 시작 */
.weare-header{
margin:0px 3%;
margin-top:30px;
text-align:left; /*내부 글자들 좌우 정렬을 왼쪽으로 지정*/
} /*가운데정렬(수직정렬)이면서 좌우여백 5%*/

.weare-header .section-title {
float:left;
width:50%;
}

.weare-header p {
float:right; 
width:50%;
position:relative;/*p태그 영역을 상대위치로 배치*/
padding-left:20px;/*아래 before 가상요소가 나타날 영역을 넓히는 역할*/
}

.weare-header p::before {
position:absolute; /*weare-header영역 안 쪽에서 절대위치로 표시*/
top:7px;
left:0px;
width:2px; /*구분선 가로크기*/
height:40px; /*구분선 세로크기*/
background:#ccc; /*구분선 색상*/
content:""; /*선만 만들고 내용은 빈공간으로 처리*/
}
.weare-body li img {
width:100%;
height:260px; /*이미지는 가로든 세로든 한 쪽 크기를 지정하면 비율유지하며 크기 조정.*/
}
/* weare 영역 끝 ---------------------------------------------------------------------*/

/* work 영역 시작 */
.work-section .section-title {
text-align:left;
margin-left:3%;
}
.work-section li {width:25%;} /* 100%/4=25% */
/* work 영역 끝  ---------------------------------------------------------------------*/

/* blog영역 시작 */
.blog-section {
margin-left:3%;
margin-right:3%;
}
.blog-section .section-title {
float:left;
margin-top:30px;
}
.blog-section .container {
float:right;/*li 태그에 적용했던 방식이라면 모두 float:left;*/
width:80%;
} 
/* blog영역 끝 ----------------------------------------------------------------------- */

/*contact영역시작*/
.contact-section {
margin-left:3%;
margin-right:3%;
}
.contact-section h1{
float:left;
margin-top:30px;
}
.contact-section .container {
float:right;
width:75%;
}
.contact-section form input {
min-height:60px;
}
.contact-section form textarea {
min-height:180px;
}
/*contact영역끝*/
}
/* pc용 스타일 끝 */