@charset "UTF-8";
/*미디어쿼리:미디어의 가로크기가 768px이상이면 아래 스타일 적용*/
@media all and (min-width:768px) {
/*헤더영역시작*/
.menu-toggle-btn {display:none;}
/*공통적용*/
ul{text-align:center;}
.header .gnb {
display:block;
position:static; /*absolute에서 static으로 변경*/
background:none;
width:auto;
float:right; /*가로 위치를 오른쪽으로 변경*/	
}
.header .gnb li {
float:left;
border:none;
/*width:95px;*/ /*수정한부분*/
text-align:center;
margin-top:15px;
}
.header .gnb li:first-child{border:none;}
.header .gnb li a {
display:inline-block; /*컨텐츠 내용 크기만큼만 자리를 차지하는 영역*/
padding-left:0px; /*추가한부분*/
margin-right:30px; /*추가한부분*/
}
.header .gnb li a:hover {
text-decoration: none;
}
/*헤더영역끝---------------------------------------------------------*/

/*슬라이드 영역 시작*/
.carousel-item, .carousel-item img {height:500px;}
/*슬라이드영역 끝------------------------------------------------------*/

/* weare영역 시작*/
.float-clear {clear:both;} /*clear속성은 float작동을 없애는 역할*/
.weare-section li {
float:left; /*세로정렬을 가로정렬로 변경*/
/*부트스트랩의 그리드시스템 (col-12(!00%), col-3,col-3,col-3,col-3)의 원형*/
width: 23.046875%; /* (177(포토샵레이아웃의가로값)/768)*100 = ~ %*/
margin-left:2.604166%; /* (20(포토샵레이아웃의여백값)/768)*100 */
overflow:hidden;/*반응형 li박스에서 가로크기를 벗어나는 이미지 내용은 숨김처리*/
}
.weare-body {margin:10px 3%;}
.weare-body li img {width:100%;height:200px;}
.weare-body li:first-child{margin-left:0px;}
/* weare영역 끝------------------------------------------------ */

/*work 영역 시작*/
.float-clear {clear:both;} /*clear속성은 float작동을 없애는 역할*/
.work-section li {
float:left;/*세로배치를 가로배치로 변경*/
width:50%;
max-height:300px;
overflow:hidden;
}
/*work 영역 끝-------------------------------------------------*/

/*blog영역 시작*/
.float-clear {clear:both;} /*clear속성은 float작동을 없애는 역할*/
.blog-section li{
float:left;/*3개의 컨텐츠 세로배치을 가로배치로 변경*/
width: 31.59722222222%;/* 3개 중 1개의 가로 크기 구하기 (242px/768)*100=31.59722222222% */
margin-left:2.60416666666%;/* 1개의 여백 구하기 (20px/768)*100=2.60416666666% */
height:300px;
border:1px solid #ccc;
}
.blog-section li .pblog {
height:200px;
overflow:hidden;
/*디버그용코드 border:1px solid red; */
}
.blog-section li .blog-info{
padding:10px;
}

.blog-section li:first-child {
margin-left:0px; /*마지막 li가 아래로 떨어지는 것을 방지하는 역할*/
}

.blog-section li:nth-child(3n+1) {
/* 1,4, 7, 10, 13...번째 컨텐츠는 모두 margin-left:0px; 이어야함*/
margin-left:0px;
}

.blog-section hr{display:none;}
/*blog영역 끝---------------------------------------------------*/

/*contact영역 시작*/
.input-class, .textarea-class {
float:left; /*세로배치를 가로배치로 변경*/
width:48%; /*2개로 나누는 가로크기 50%로 지정*/
}
.input-class {
margin-right:4%;
}
.contact-section form textarea {
min-height: 120px;
}
/*contact영역 끝---------------------------------------------------*/
}